/* 
    Document   : 404
    Created on : 9.4.2013, 8:25:01
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/


#page_404 {    
    background-image: url(../img/background.png);
    background-repeat: no-repeat;    
    background-position: top;    
    background-color: transparent;
    background-size: 100% 100%;
    
    min-height: 445px;
    width: 100%; 
    
    text-align: center;
    
    padding-bottom: 30px;
}

#page_404_in {  
    background-color: #f2f0f0;       
    background-size: 100% 100%;
    
    width: 800px;
    
    margin: 0 auto;
    
    min-height: 345px;  
    
    text-align: left;

    padding: 1px;
    
    text-align: center;
}

#page_404_in h2{
    text-align: center;
    padding: 10px;
    margin: 1px;
    
    margin-top: 20px;
    
    color: red;
}

#page_404_in h3{
    text-align: center;
    padding: 10px;
    margin: 1px;
    
    margin-top: 20px;
}

#page_404_in #bill{
    text-align: center;
}

#page_404_in a {
    text-decoration: none;
    color: #0000ff;
}

#page_404_in a:hover {
    color: yellow;
}

#page_404_in #cause{
    text-align: left;
    padding: 10px;
    margin: 20px;
    
    margin-left: 50px;
}