/* 
    Document   : company
    Created on : 22.3.2013, 11:49:12
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Verdana, Arial, Helvetica;
    text-align: left;
    
    padding: 0;
    margin: 0;
}

#company {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;    
    background-position: top;    
    background-color: transparent;
    background-size: 100% 100%;
    
    min-height: 545px;
    width: 100%; 
    
    text-align: center;
    
    padding-bottom: 30px;
    
}

#company_in {
    background-color: #f2f0f0;       
    background-size: 100% 100%;
    
    width: 800px;
    
    margin: 0 auto;
    
    min-height: 345px;  
    
    text-align: center;

    padding: 5px;
}

#company_in form {
    margin: 0 auto;
    padding: 10px;
    width: 600px;
}

#company_in .insert {
    margin: 10px 10px 10px 10px; 
    padding: 0;
}

form.add label {  
    float: left;
    padding-right: 20px;
    line-height: 30px;
    text-align: right;
}

form.add input {
    float: right;
    padding: 3px;
    margin-right: 20px;
    
    font-size: 16px;
    line-height: 18px;   
}

form.add input[type=text]  {
    float: left;
    padding: 3px;
    
    margin: 0;
    border: 2px solid #f2f2f2;
    width: 320px;
    
    font-size: 16px;
    height: 20px;
}

#company_in .companyies {
    text-align: center;
}


.companyies .company {
    
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
    
    min-height: 20px;
    
    padding: 6px;
}

.company .name {
    float: left;
    
    text-align: right;
    width: 100px;
    
    margin-right: 20px;
}

.company .data {
    float: left;
    text-align: left;
    
    width: 260px;
}

.company .delete {
    float: right;
    text-align: center;
    
    width: 100px;
    
    text-decoration: none; 
    
    color: #000000;
}

.company:nth-of-type(odd) {
    background-color: #f8f6f6;
    background-size: 100% 100%;
    
    border: 1px solid #f8f6f6;   
}

.company:nth-of-type(even) {
    background-color: white;
    background-size: 100% 100%;
    
    border: 1px solid white; 
}

.company:hover {
    color: #a56565;
    
    border: 1px solid #a56565 !important;
}

.delete:hover {
    color: #a56565;
}

#company_in #back {
    text-align: center;
    
    padding-top: 10px;
    padding-bottom: 3px;
    
    margin-bottom: 10px;
}

#back a img{
    margin-bottom: -4px;
}

.listing {
    text-align: center;
    
    margin: 10px;
    
}

.listing a {
    margin: 2px;
    
}