/* 
    Document   : contacts
    Created on : 9.4.2013, 10:25:19
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Verdana, Arial, Helvetica;
    text-align: left;
    
    padding: 0;
    margin: 0;
}

#contacts {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;    
    background-position: top;    
    background-color: transparent;
    background-size: 100% 100%;
    
    min-height: 545px;
    width: 100%; 
    
    text-align: center;
    
    padding-bottom: 30px;
    
}

#contacts_in {
    background-color: #f2f0f0;       
    background-size: 100% 100%;
    
    width: 800px;
    
    margin: 0 auto;
    
    min-height: 345px;  
    
    text-align: center;

    padding: 5px;    
    
    padding-bottom: 20px;
}

#contacts_in div {
    width: 600px;
    margin: 0 auto;
       
}

#contacts_in div div {
    text-align: left;
    margin-left: 60px;
}

#contacts_in h2 {
    text-align: left;
}

#contacts_in h3 {
    text-align: left;
    margin-left: 10px;
}

#contacts_in #back {
    text-align: center;
    
    padding-top: 10px;
    padding-bottom: 3px;
}

#back a img{
    margin-bottom: -4px;
}

#contacts_in #terms{
    text-align: left;
    margin-left: 20px;
}