/* 
    Document   : create-edit
    Created on : 20.3.2013, 8:11:44
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Verdana, Arial, Helvetica;
    text-align: left;
    
    padding: 0;
    margin: 0;
}

#edit {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;    
    background-position: top;    
    background-color: transparent;
    background-size: 100% 100%;
    
    min-height: 945px;
    width: 100%; 
    
    padding-bottom: 30px;
    
    text-align: center;    
}

#edit_in {      
    background-color: #f2f0f0;       
    background-size: 100% 100%;
    
    width: 800px;
    
    margin: 0 auto;
    padding: 0px;

    min-height: 345px;  
    
    text-align: left;
}

#edit_in form {
    margin: 0 auto;
    padding: 0px;
    padding-top: 20px;
    border: none;
}

#edit_in fieldset {
    border: none;
}

#edit_in .item {
    margin: 20px 10px 20px 10px; 
    padding: 0;
}

#submit {
    margin: 10px;     
}

form.create-edit label {        
    padding-right: 20px;
    line-height: 20px;
    text-align: right;
    float: left;
    
    text-align: right;
    width: 200px;
    
    color: #8d8d8d;
}

form.create-edit input {
    padding: 0;
    margin-left: 0;
    
    font-size: 16px;
    line-height: 18px;   
    
    text-align: left;
    
    width: 300px;
}

form.create-edit textArea {
    padding: 0;
    margin-left: 0;
    
    font-size: 16px;
    line-height: 18px;   
    
    text-align: left;
    
    width: 300px;
}

form.create-edit select {
    padding: 0;
    margin-left: 0;
    
    font-size: 14px;
    line-height: 18px;   
    
    text-align: left;
    
    width: 300px;
}

form.create-edit .submit {
    padding: 10px;
    margin-left: 0;
    
    line-height: 18px;   
    
    text-align: center;    
}

#edit_in #company {
    width: 140px;
}

#edit_in #back {
    text-align: center;
    
    padding-top: 10px;
    padding-bottom: 3px;
    
    color: #8d8d8d;
}

#edit_in #back a img{
    margin-bottom: -4px;
}

#edit_in #image {
    text-align: center;
}

#image img {
    padding: 10px;
}