/* 
    Document   : detail
    Created on : 19.3.2013, 14:13:16
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Verdana, Arial, Helvetica;
    text-align: center;
    
    padding: 0;
    margin: 0;
}

#detail {    
    background-image: url(../img/background.png);
    background-repeat: no-repeat;    
    background-position: top;    
    background-color: transparent;
    background-size: 100% 100%;
    
    min-height: 350px;
    width: 100%; 
    
    padding-bottom: 30px;
    
    text-align: center;
}

#detail_in {  
    background-color: #f2f0f0;       
    background-size: 100% 100%;
    
    width: 800px;
    min-height: 345px; 
    
    margin: 0 auto;
    
    text-align: left;

    padding: 1px;
    
}

#detail_in .left {
    background-color: white;
    background-size: 100% 100%;
    
    float: left;    
    margin: 5px;
    padding-bottom: 10px;
    
    text-align: center;
    width: 480px; 
    min-height: 300px;
    
    font-size: small;
}

.left div {  
    
    margin: 0;
    padding: 0;
        
    padding-top: 10px;
    
    width: 100%;
    
    text-align: left;
}

.left div div {
    float: left;
    
    margin: 0;
    padding: 0;
    padding-right: 20px;
    padding-top: 10px;
    
    text-align: right;
    
    width: 200px;
}

.left #print {
    text-align: center;
}

.left #image {
    text-align: center;
}

#image img {
    padding: 10px;
}

.left .name {
    color: #8d8d8d;
}

.left .data {
    text-align: left;
}

.left #back {
    text-align: center;
    
    padding-top: 10px;
    padding-bottom: 3px;
}

#back a img{
    margin-bottom: -4px;
}


#detail_in .right {
    float: right;
    
    margin: 5px;
    padding-bottom: 10px;
    
    width: 294;
}

#detail_in .right a img {
    
}

#detail_in .right h3{
    color: #4e4e4e;
    
    padding: 10px;
    margin: 0;
}

#detail_in .right #similar {
    background-color: #ede8e8;
    background-size: 100%;
    
    padding: 5px;
}

#detail_in .right a {
    text-decoration: none; 
}

#detail_in .right .bill {
    background-color: white;
    background-size: 100% 100%;
    
    min-height: 30px;
    
    margin: 5px;
    padding: 8px;
    
    color: black;
    
    border: 1px solid white; 
    
    font-size: small;
    
}

#detail_in .bill:hover {
    color: #a56565;
    
    border: 1px solid #a56565 !important;
}

#detail_in .bill:nth-of-type(odd) {
    background-color: #f8f6f6;
    background-size: 100% 100%;
    
    border: 1px solid #f8f6f6;   
}

#detail_in .bill:nth-of-type(even) {
    background-color: white;
    background-size: 100% 100%;
    
    border: 1px solid white; 
}

#zoom {
    text-align: center;
    float: top;
    margin: 0 auto;
    
    max-width: 800px;
}

#zoom img{
    display: block;   
    position: relative;   
    
    padding: 0;
    margin: 0;
    
    padding-top : 50px;
}

#zoom input{
    display: block;   
    position: inherit;    
    
    margin: 2px;
    margin-left: 380px;
    
    padding: 10px;        
}