/* 
    Document   : footer
    Created on : 18.3.2013, 9:45:07
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#footer {
    background-image: url(../img/footer.png);
    background-repeat: no-repeat; 
    background-color: transparent;
    background-position: center;
    background-size: 100% 100%;
    
    height: 190px;
    width: 100%;
    
    padding: 0;
    margin: 0;
    
    text-align: center;
    font-family: Verdana, Arial, Helvetica;
    text-align: center;
}

#footer_in {
    width: 800px;
    
    margin: 0 auto;    
}

#footer_in div{
    margin: 0 auto;
    
    padding-top: 60px;
    
    font-size: large;
    color: #7f7e7f;    
}