/* 
    Document   : front
    Created on : 18.3.2013, 9:44:21
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Verdana, Arial, Helvetica;
    text-align: center;
    
    padding: 0;
    margin: 0;
}

#front {
    padding: 0;
    margin: 0;
    
    text-align: center;
    font-family: Verdana, Arial, Helvetica;
}

#front_1 {
    background-image: url(../img/front/background_1.png);
    background-repeat: no-repeat;    
    background-position: center;    
    background-color: transparent;
    background-size: 100% 100%;
    
    height: 616px;
    width: 100%;    
}

#front_1_in {
    width: 800px;
    
    margin: 0 auto;
}

#front_1_in h1 {
    margin: 0;
    
    padding-top: 60px;
    
    text-align: left;
}

#front_1_in ul{
     list-style-type: none;
     margin: 0;
     
     padding-left: 20px;
     padding-top: 30px;
}

#front_1_in li {
    background-image: url(../img/front/li.png);
    background-repeat: no-repeat;
    background-position: left;
    
    padding: 10px 10px 10px 30px;
    
    color: #ffffff;
    font-size: large;
    text-align: left;
}

#front_1_in a {
    color: #000000;            
    text-decoration: none;
    color: yellow;
}

#front_1_in a:hover {
    color: blue;
}

#create {    
    float: left;
}

#create img {
    padding-top: 90px;
    padding-right: 300px;
}

#function {    
}

#function img {
    padding-top: 42px;
    margin-bottom: -80px;        
}

#front_2 {
    background-image: url(../img/front/background_2.png);
    background-repeat: no-repeat;    
    background-position: center;
    background-color: transparent;
    background-size: 100% 100%;
    
    height: 404px;
    width: 100%;
    
    padding: 0;
    margin: 0;
    
    text-align: left;
}

#front_2_in {
    width: 800px;
    
    margin: 0 auto;
}

#front_2_in div {
    float: right;
    
    margin: 0;
    padding: 0;
    
    margin-top: 100px;
    
    width: 400px;
}

#front_2_in div h2 { 
    
}

#front_2_in div p {

}

#front_2_in span {
    float: left;
    margin-top: 100px;
}

#front_2_in span img {
    
}

#front_3 {
    background-image: url(../img/front/background_3.png);
    background-repeat: no-repeat;    
    background-position: center;    
    background-color: transparent;
    
    background-size: 100% 100%;
    
    min-height: 400px;
    width: 100%;
    
    padding: 0;
    margin: 0;
    
    text-align: left;
}

#front_3_in {
    width: 800px;
    
    margin: 0 auto;
}

#front_3_in div {
    float: left;
    
    margin: 0;
    padding: 0;
    
    padding-top: 100px;
    
    width: 400px;
}

#front_3_in div h2 { 
    
}
#front_3_in div p {
    
}

#front_3_in span {
    float: right;
    margin-top: 100px;
}

#front_3_in span img {
 
}

#front_4 {
    background-image: url(../img/front/background_4.png);
    background-repeat: no-repeat;    
    background-position: center;    
    background-color: transparent;
    
    background-size: 100% 100%;
    
    height: 226px;
    width: 100%;   
    
    padding: 0;
    margin: 0;
    
    text-align: center;
}

#front_4_in {
    width: 800px;
    
    margin: 0 auto;
    
    text-align: center;
}


#front_4_in img{    
    margin-right: 200px;
    margin-top: 80px;
}