/* 
    Document   : header
    Created on : 18.3.2013, 9:45:02
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/

@import url(404.css);

#header {
}

#header_top {
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center;    
    background-color: transparent;
    background-size: 100% 100%;
    
    height: 86px;
    width: 100%;
    
    font-family: Verdana, Arial, Helvetica;
    text-align: center;
}

#header_top_in {
    width: 800px;
    
    margin: 0 auto;    
}

#header_top_in .menu {
    float: right;
}

#header_top_in .home {
    float: left;
}

#header_top_in ul{
     list-style-type: none;
     margin: 0;
     padding: 0;    
}

#header_top_in li {
    float: right;
    height: 41px;
    
    padding: 35px 10px 10px 10px;
    
}

#header_top_in li:first-child {
    /*padding-right: 20px;*/
}

#header_top_in li a {
    color: #000000;            
    text-decoration: none;
}

#header_top_in li a:hover {
    color: yellow;
}

#header_top_in span {
    
}

#header_top_in span a img{
    padding-top: 25px;
}


#header_bot {
    background-image: url(../img/background_top.png);
    background-repeat: no-repeat;    
    background-position: center;    
    background-color: transparent;
    background-size: 100% 100%;
    
    height: 148px;
    width: 100%; 
}

#header_bot_in {
      
    width: 800px;
    
    margin: 0 auto;
}

#header_bot_in .left {
    float: left;
    
    margin-top: 0px;
    
    width: 420px;
    
    color: #ffffff;
    text-align: left;
}
#header_bot_in h1 {
    margin: 0px;
    margin-top: 16px;
    
    font-size: 40px;
}

#header_bot_in .right {
    float: right;
    padding: 5px 0px 10px 10px;
    color: #ffffff;
    
    width: 350px;
}

#header_bot_in .menu {
    float: right;
}

#header_bot_in ul{
     list-style-type: none;
     margin: 0;
     padding: 0;    
}

#header_bot_in li {
    float: right;
    height: 41px;
    
    padding: 2px 10px 10px 20px;
}

#header_bot_in li:first-child {
    /*padding-right: 20px;*/
}

#header_bot_in a {
    text-decoration: none;
    color: #ffffff;
}

#header_bot_in a:hover {
    color: yellow;
}

#header_bot_in div {
    margin: 0 auto;
    text-align: center;
}

#header_bot_in form {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    float: right;
}

#header_bot_in fieldset {
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
}

form.search input {
    float: right;
    margin: 0px;
    padding: 0px;    
}

form.search input[type=text]  {
    padding: 3px;
    border: 2px solid #f2f2f2;
    width: 220px;
    
    font-size: 16px;
    height: 20px;
    
    color: #7f7e7f;   
}

.clearer {
    clear: both;
    width: 100%;
    height: 0px;
}

#header_bot .left #links {
    text-align: left;
        
    background: none;
    
    margin-top: 10px;
    height: 50px;    
}


.notification {
    text-align: center;
    
    border-style: solid;
    
    padding: 4px;
}

.notification .normal {
    color: blue;
}

.notification .error {
    color: red;
}
