/* 
    Document   : login
    Created on : 18.3.2013, 11:59:27
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Verdana, Arial, Helvetica;
    text-align: left;
    
    padding: 0;
    margin: 0;
}

#login {    
}

#login_1 {
    background-image: url(../img/background_top.png);
    background-repeat: no-repeat;    
    background-position: center;    
    background-color: transparent;
    background-size: 100% 100%;
    
    height: 148px;
    width: 100%; 
    
}

#login_1_in {
      
    width: 800px;
    
    margin: 0 auto;
}

#login_1_in h1 {
    margin: 0;
    padding-top: 40px;
    color: #ffffff;
    font-size: xx-large;
}

#login_2 {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;    
    background-position: center;    
    background-color: transparent;
    background-size: 100% 100%;
    
    min-height: 445px;
    width: 100%; 
}

#login_2_in {
    background-color: #f2f0f0;       
    background-size: 100% 100%;
    
    min-height: 100px;
    width: 100%;    
      
    width: 800px;
    
    margin: 0 auto;
    
    text-align: center;
}

#login_2_in div {
    margin: 0 auto;
    text-align: center;
}

#login_2_in form {
    margin: 0 auto;
    padding-top: 20px;
    width: 400px;
}

#login_2_in fieldset {
    border: none;
}

#login_2_in label {
    
}
#login_2_in input {
    
}

#login_2_in .clear {
    margin: 10px 10px 10px 10px; 
    padding: 0; 
}

#submit {
    margin: 10px;     
    text-align: center;
    float:  none;
}

form.login label {        
    padding-right: 20px;
    line-height: 30px;
    text-align: right;
    float: left;
    width: 140px;
}

form.login input {
    padding: 3px;
    margin-left: 10px;
    
    font-size: 16px;
    line-height: 18px;  
    float: right;
}

#login_2_in a {
    color: #000000;            
    text-decoration: none;
    
    font-style: oblique;
}

#login_2_in a:hover {
    color: yellow;
}