/* 
    Document   : main
    Created on : 18.3.2013, 10:47:58
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/


body {
    font-family: Verdana, Arial, Helvetica;
    text-align: center;
    
    padding: 0;
    margin: 0;
}

#main {    
    background-image: url(../img/background.png);
    background-repeat: no-repeat;    
    background-position: top;    
    background-color: transparent;
    background-size: 100% 100%;
    
    min-height: 445px;
    width: 100%; 
    
    text-align: center;
    
    padding-bottom: 30px;
}

#main_in {  
    background-color: #f2f0f0;       
    background-size: 100% 100%;
    
    width: 800px;
    
    margin: 0 auto;
    
    min-height: 345px;  
    
    text-align: left;

    padding: 1px;
    
}

#main_in .left {
    float: left;
    margin: 5px;
    
    text-align: left;
    width: 290px; 
    min-height: 300px;
}

.left #category_list{
    float: left;
    
    background-color: white;
    background-size: 100% 100%;
    
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
        
    width: 100%;
}

.left ul{
     list-style-type: none;
     margin: 0;     
     padding: 0;
}

.left li {      
    
}

.left li a {
    
    background-image: url(../img/main/li_2.png);
    background-repeat: no-repeat;
    background-position: 15px;
    
    border: 1px solid white;
    
    padding: 0px 2px 2px 33px;
    display: block;
    
    color: #a59589;            
    text-decoration: none;    
    font-size: 14px;    
}

.left li .roll {
    background-image: url(../img/main/li.png);
}

.left li li a {
    padding-left: 48px;
    background-position: 30px;
}

.left li li li a {
    padding-left: 63px;
    background-position: 45px;
}

.left li li li li a {
    padding-left: 78px;
    background-position: 60px;
}

.left li li li li a {
    padding-left: 92px;
    background-position: 75px;
}

.left li a:hover {
    background-image: url(../img/main/li.png);
    
    color: #a56565;
    
    border: 1px solid #a56565;
}


#main_in .right {
    background-color: #ede8e8;       
    background-size: 100% 100%;    
    
    float: right;
    
    width: 490px;  
    min-height: 300px;
    
    margin: 5px;
    
    font-size: small;
}

#menu {
    min-height: 50px;
}

#menu .item {
    float: left;
    padding: 20px 0px 20px 0px;
    
    text-align: center;
    width: 120px;
}

#menu .item_s {
    float: left;
    padding: 20px 0px 20px 0px;
    
    text-align: center;
    width: 120px;
    
    color: #874444;
}

.item_s .top {
    background-color: #874444;
}


.right .bill {
    background-color: white;
    background-size: 100% 100%;
    
    min-height: 50px;
    
    margin: 5px;
    padding: 3px;
    
    color: black;
    
    border: 1px solid white; 
    
}

.bill div {
    float: left;
    width: 120px;
    
    text-align: center;
}

.bill:hover {
    color: #a56565;
    
    border: 1px solid #a56565 !important;
}

.bill:nth-of-type(odd) {
    background-color: #f8f6f6;
    background-size: 100% 100%;
    
    border: 1px solid #f8f6f6;   
}

.bill:nth-of-type(even) {
    background-color: white;
    background-size: 100% 100%;
    
    border: 1px solid white; 
}


.bill .detail {
    float: right;
    
    padding: 10px 3px 10px 5px;
    width: 100px;
}

.listing {
    text-align: center;
    
    margin: 10px;
    
}

.listing a {
    margin: 2px;
    
}