/* 
    Document   : settings
    Created on : 27.3.2013, 13:24:05
    Author     : redak105
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Verdana, Arial, Helvetica;
    text-align: left;
    
    padding: 0;
    margin: 0;
}

#settings {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;    
    background-position: top;    
    background-color: transparent;
    background-size: 100% 100%;
    
    min-height: 445px;
    
    width: 100%; 
}

#settings_in {
    background-color: #f2f0f0;       
    background-size: 100% 100%;
    
    min-height: 100px;
    width: 100%;    
      
    width: 800px;
    
    margin: 0 auto;
    
    text-align: center;
}

#settings_in h3 {
    
    margin: 0 auto;
    padding: o;
    
    padding-top: 20px;
    
    text-align: center;
}

#settings_in div {
    margin: 0 auto;
    text-align: center;
}

#settings_in form {
    margin: 0 auto;
    padding-top: 20px;
    width: 420px;
}

#settings_in fieldset {
    border: none;
}

#settings_in .clear {
    margin: 10px 10px 10px 10px; 
    padding: 0;
    float: right;
}

#submit {
    margin: 10px;     
    
}

form.settings label {        
    padding-right: 20px;
    line-height: 30px;
    text-align: right;
}

form.settings input {
    padding: 3px;
    margin-left: 10px;
    
    font-size: 16px;
    line-height: 18px;   
}

#settings_2_in a {
    color: #000000;            
    text-decoration: none;
    
    font-style: oblique;
}

#settings_in a:hover {
    color: yellow;
}